<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <br>

            <div class="row">
                <div class='col-12'>
                    <a href="/add-singer" class="btn btn-success">Add new Singer</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class='col-12'>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Avatar</td>
                                <td>Option(s)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% listSinger.forEach(singer=>{
                            %>
                            <tr>
                                <td><%=singer.id%></td>
                                <td>
                                    <a target="_blank" href="<%=profileLink+singer.link%>"><%=singer.name%></a>
                                </td>
                                <td>
                                    <img height="150px" src="<%=avatarLink+singer.avatar%>">
                                </td>
                                <td>
                                    <a href="/update/<%=singer.id%>" class="btn btn-warning">
                                    Update
                                    </a>
                                    <a href="/delete/<%=singer.id%>" onclick="return confirm('Are you sure?')"  class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            <% })%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
